<div>
<!--    about page-->
    <div class="heading-bar">
        <h3>About Us</h3>
    </div>
    <div class="row">
        <div class="col-lg-12">

            <div class="col-lg-3">
                <a href="#" class="thumbnail">
                    <img src="assets/traverse_pakistan_logo.png">
                </a>
            </div>
            <div class="col-lg-9 details-section-one">
                <div class="top">
                    <h4><a href="#">Traverse Pakistan is Brand name for tourism in Pakistan.</a></h4>
                </div>
                <div class="content">
                    <p>
                        {{place.description}}
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla hendrerit tempor enim, in hendrerit massa. Nunc diam lacus, aliquam in velit non, mattis sagittis lacus. Mauris aliquam ultricies lectus, vel elementum sapien lacinia eu. Donec condimentum sodales auctor. Nunc sit amet imperdiet sem. Donec tincidunt, elit vel dapibus porttitor, mi est tincidunt augue, vel imperdiet odio dui eu lectus. Nulla ac dapibus risus. Phasellus maximus, turpis vel porta sodales, tortor arcu eleifend magna, non tincidunt erat risus non ipsum. Fusce mattis ornare elit et sollicitudin. Donec volutpat hendrerit turpis, eget aliquam metus dictum quis.
                        <a href="#">&nbsp;Read More...</a>
                    </p>
                </div>
                <div class="bottom">
                    <div class="pull-left">
                        <i class="fa fa-facebook facebook-icon fa-2x"></i> &emsp;&emsp; <i class="fa fa-twitter twitter-icon fa-2x"></i> &emsp; &emsp;  <i class="fa fa-heart-o wishlist-icon fa-2x"> &nbsp;<span style="font-weight: 600; font-size:20px">Add to wishlist</span></i>
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary">What are people saying</button>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>