// Overall elements of the theme

body
{
  background-color: $brand-white-dark;
  overflow-x: hidden;
}

.heading-bar
{
  border: 2px solid #bdc3c7;
  height: 50px;
  font-weight: 600;
  color: $brand-primary-light;
  text-align: center;
  background-color: white;
  margin-bottom: $x-large-space;

  h3
  {
    margin-top: $medium-space;
  }
}

.traverse-icon
{
  color: $gray-dark;
  font-weight: 600;
  transition: color .3s ease-in-out;
  &:hover
  {
    color: $brand-primary-dark;
    cursor: pointer;
  }

}

.facebook-icon
{
  color: $gray-dark;
  transition: color .3s ease-in-out;
  &:hover
  {
    color: $brand-dark-blue;
    cursor: pointer;
  }
}

.twitter-icon
{
  color: $gray-dark;
  transition: color .3s ease-in-out;
  &:hover
  {
      color: $brand-blue;
      cursor: pointer;
  }
}

.details-section-one
{
  .top
  {
    a
    {
        color: $gray-dark;
        margin-bottom: $x-large-space;

        &:hover
        {
          color: $gray
        }
    }
  }

  .content
  {
    margin-top: $x-large-space;
    margin-bottom: $x-large-space;
    word-wrap: normal;
  }

  .bottom
  {
    height: 40px;
    margin-top: $xx-large-space;
    margin-bottom: $xx-large-space;
  }

}

.bold
{
  font-weight: 700;
}

// Swiper Slider
.swiper-container {
  width: 100%;
  height: 600px;

}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  margin-right: 0px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}


// Circles for best time to visit
%traverse-circle
{
  height: 60px;
  width: 60px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: transparent;

}
.traverse-circle-full
{
  @extend %traverse-circle;
  border: 5px solid #39BF90;
  h4
  {
    font-weight: 700;
    text-decoration: underline;
  }
}

.traverse-circle-empty
{
  @extend %traverse-circle;
  border: none;
}


