
// Navbar Variables Overwrides
$navbar-default-bg:                #ffffff !default;
$navbar-default-border:            darken(#f8f8f8, 10.5%) !default;
$navbar-search-border-radius:      10px;
$navbar-default-link-hover-bg:     #f9f9f9;


// Point at which the navbar becomes collapsed
$grid-float-breakpoint:            960px;

// Grays
$gray-darker:                   #252523;
$gray-dark:                     #657070;
$gray:                          #7f8c8d;
$gray-light:                    #8C8C89;
$gray-lighter:                  #d2d2cd;

// Brand Colors
$brand-primary-light:           #2ecc71;
$brand-primary-dark:            #27ae60;
$brand-primary-darker:          #325650;
$brand-dark-blue:               #2C4383;
$brand-blue:                    #4E9ED5;
$brand-red:                     #c0392b;
$brand-white:                   #ffffff;
$brand-white-dark:              #f2f2f2;


//== Spaces for padding/margin
$mini-space:                    2px;
$small-space:                   5px;
$medium-space:                  10px;
$large-space:                   15px;
$x-large-space:                 20px;
$xx-large-space:                25px;